*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/About\ us\ ban.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.nav-bar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.default{
    color: #ff7200;
}

.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 320px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: white;
    margin-top: 13px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: 400px;
    color: #fff;
    position: relative;
}

.content .par{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
    font-weight: 10px;
    font-size: smaller;
}

.content h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-align: center;
}

.content-2{
    display: flex;
    justify-content: center;
    float: left;
    padding-top: 50px;
    align-items: center;
    grid-gap: 60px;
}

.general{
    background-color: #f5f5f5;
    width: 100%;

}

.job-1{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    grid-gap: 30px;
    padding-top: 30px;
}

.file-1{
    box-shadow: 4px 4px 4px 4px rgb(222,220,220);
    background: grey;
    width: 20%;
    height: 200px;
    border-radius: 20px;
}

.file-1 img{
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.file-1 h3{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.file-2{
    box-shadow: 4px 4px 4px 4px rgb(222,220,220);
    background: grey;
    width: 20%;
    height: 200px;
    border-radius: 20px;
}

.work{
    display: flex;
    align-items: center;
}

.work img{
    width: 30px;
}


.file-2 img{
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.file-2 h3{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.file-3{
    box-shadow: 4px 4px 4px 4px rgb(222,220,220);
    background: grey;
    width: 20%;
    height: 200px;
    border-radius: 20px;
}

.file-3 img{
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.file-3 h3{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}


.file-4{
    box-shadow: 4px 4px 4px 4px rgb(222,220,220);
    background: gray;
    width: 20%;
    height: 200px;
    border-radius: 20px;
}

.file-4 img{
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.file-4 h3{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.section{
    margin-top: 50px;
}

.style{
    border: 0.5px solid black;
    box-shadow: 4px 4px 4px 4px rgb(222,220,220);
    border-radius: 50px;
    width: 110px;
    margin: auto;
}

.style p{
    text-align: center;
}

.section h2{
    text-align: center;
    padding-top: 10px;
}

.circle{
    display: flex;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 30px;
}

.read{
    padding-top: 10px;
    text-align: center;
}

.circle-1{
    border: 1px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.circle-a{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ff7200;
    position: relative;
    left: 180px;
}

.circle-a p{
    text-align: center;
    position: relative;
    bottom: 25px;
    color: white;
}

.circle-1 p{
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.circle-2{
    border: 1px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 60px;
    
}

.circle-b{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ff7200;
    position: relative;
    left: 180px;
}

.circle-b p{
    text-align: center;
    position: relative;
    bottom: 25px;
    color: white;
    
}

.circle-2 p{
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.circle-3{
    border: 1px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.circle-c{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ff7200;
    position: relative;
    left: 180px;
}

.circle-c p{
    text-align: center;
    position: relative;
    bottom: 25px;
    color: white;
}

.circle-3 p{
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: whitesmoke;
    position: absolute;
    top: 1490px;
}

.logo-list-1{
    width: 20%;
    padding-left: 20px;
    height: 300px;
    line-height: 50px;
}

.logo-list-1 li{
    list-style: none;
}

.logo-list-1 h1{
    color: #FF7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    
    
}

.logo-list{
    width: 20%;
    padding-left: 20px;
    height: 300px;
    line-height: 30px;
}

.logo-list li{
    list-style: none;
}


.email{
    height: 36px;
    width: 140px;
    border: 1px solid #FF7200;
    border-right: none;
    float: left;
}

.share{
    cursor: pointer;
}
.share img{
    width: 30px;

}

